.appContainer{
    position: relative;
    height: 100vh;
    width: 100vw;
  }
  
  .App {
    box-sizing: border-box;
    position: relative;
    text-align: center;
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* font-size: calc(10px + 2vmin); */
    font-size: 1rem;
    color: white;
    padding: 5vh;
  }
  
  .logo-container{
    align-self: flex-start;
    margin-top: 10px;
    margin-left: 10px;
    position: absolute;
    z-index: 2;
  }
  .App-logo {
    height: 15vmin;
    pointer-events: none;
  
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  #answerField{
    width: 50vw;
    max-width: 500px;
    height: 20vw;
    max-height: 200px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
  }
  
  form{
    height: fit-content;
  }
  
  .gpt-percentage{
    margin-top: 5px;
    font-size: 1.5rem;
    color: aqua;
  }
  
  .authPopup{
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: #fefefe52;
    backdrop-filter: blur(5px);
    z-index: 1;
    display: flex;
    justify-content: center;
    padding-top: 10vh;
  }
  
  .auth-form{
    width: 50%;
    max-width: 400px;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
    box-shadow: 1px 3px 7px 0px #000000;
    border-radius: 5px;
  }
  
  .auth-form input{
    display: block;
  }
  
  .color-red{
    color: red;
  }
  
  .color-green{
    color: green;
  }
  
  button{
    cursor: pointer;
  }
  
  #closeButton{
    margin: 5px;
    align-self: end;
  }

  .gameStatistics{
    background-color: aliceblue;
    width: 75vw;
    border-radius: 5px;
    box-shadow: 1px 3px 7px 0px #000000;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 5%;
  }
  